<div class="header">

<button class='btn btn-primary task-add' {{action "openNewTask"}}>      
  <span class="plus"/>
</button>
  {{!-- {{div  class='btn btn-primary task-add' action='openNewTask' tagName='button'}}
      <span class="plus"/> --}}



  <h1 id= "title">
        משימות

    </h1>

</div>


{{yield}}